APP_NAME=orquestador-service
DEBUG=false
DOCUMENTOS_URL=http://localhost:8001
EXTRACCION_URL=http://localhost:8002
RESUMEN_URL=http://localhost:8003
NOTIFICACIONES_URL=http://localhost:8004
REDIS_URL=redis://localhost:6379
CACHE_ENABLED=true
CACHE_TTL_SECONDS=3600
RESUMEN_MAX_WORDS=150
API_V1_PREFIX=/api/v1
